@import partials/normalize
@import partials/include-media
@import partials/large-screen

$font-stack: 'Roboto', sans-serif;

html
  font-family: $font-stack

.members
  display: flex
  flex-flow: row wrap
  justify-content: space-around

.member
  border:
    style: solid
    width: 3px
  padding: 15px
  margin: 15px

.picture
  -webkit-clip-path: ellipse(50% 50% at 50% 50%)
  clip-path: ellipse(50% 50% at 50% 50%)

.result-top
  display: inline-block
  width: 30%

.result-middle
  display: inline-block
  width: 50%

.row
  display: inline-block

.right-push
  float: right
  padding: 0px 25px

.center-text
  padding-left: 300px